
@{
    Layout = null;
}

@using BotChallenge.Models
@model GameState

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    @Styles.Render("~/Content/game")

</head>
<body>
    <main class="flex-container">
        <header class="">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 less-paddings">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="pull-left">Players:</h4>
                        <div class="pull-right">
                            @foreach (var login in Model.Players)
                            {
                                <p>@login - working</p>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center less-paddings">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>Map: @Model.FieldState.MapName</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Aim: @Model.FieldState.MapDescription
            </div>
        </header>
        <div id="canva"></div>
        <footer class="bounded-block">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 less-paddings scrollable-block">
                <ul class="list-group">
                    <li class="list-group-item bot-item active" id=@Model.FieldState.Bots[Model.CurrentLogin].First().Id>@Model.FieldState.Bots[Model.CurrentLogin].First().Name</li>
                    @for (var i=1; i<@Model.FieldState.Bots[Model.CurrentLogin].Count; i++){
                        <li class="list-group-item bot-item" id=@Model.FieldState.Bots[Model.CurrentLogin][i].Id>@Model.FieldState.Bots[Model.CurrentLogin][i].Name</li>
                    }
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 height-100 less-paddings">
                <textarea class="form-control height-100" id="code"></textarea>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 panel-group less-paddings scrollable-block">
                <div class="panel panel-default" id="statePanel">
                    <div class="panel-heading">
                        Control panel
                        <div class="pull-right compile-buttons-block">
                            <button class="btn btn-primary btn-sm" id="compilationBtn">Compile</button>
                            <button class="btn btn-primary btn-sm">Run</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel-body" id="errors">
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script>
        window.model = @Html.Raw(Json.Encode(Model));
    </script>
    @Scripts.Render("~/bundles/phaser-lib")
    @Scripts.Render("~/bundles/phaser-modules")
    @Scripts.Render("~/bundles/phaser-core")
</body>
</html>